<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <title>Django Bank - {% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="oleksii.v.velychko@gmail.com">
        <link rel="icon" href="{% static 'images/favicon-bank.ico' %}">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'banking/css/banking.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'banking/js/main.js' %}"></script>

        <meta name="csrf-token" content="{{ csrf_token }}">
    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'signout' %}">Sign Out</a>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% include "banking/modals/template.html" %}

    </body>
</html>
